# Gitkeep
!.gitkeep

# Security
keys/*
config.yaml
.envrc

# Temporary files
bin/
/assets/dist
tmp
node_modules
.idea
__htmgo
dist

# Build artifacts
dis.quest
disquest.db
disquest.db-shm
disquest.db-wal
